<div id="answer">
  <div class="quote">
    <p class="question fw-normal m-3"><%= @question %></p>
    <p class="author m-3">- You</p>
  </div>
  <div class="quote coach">
    <p class="coach-answer fw-bold m-3"><%= @answer %></p>
    <p class="author m-3">- Coach</p>
  </div>
</div>
